pyvenv.cfg                  
/venv/lib/python3.6/site-packages/django_widget_tweaks-1.4.8.dist-info    
/venv/lib/python3.6/site-packages/pytz-2020.1.dist-info                  
/venv/lib/python3.6/site-packages/easy-install.pth                        
/venv/lib/python3.6/site-packages/setuptools-39.1.0-py3.6.egg
/venv/lib/python3.6/site-packages/asgiref                                
/venv/lib/python3.6/site-packages/gunicorn                                
/venv/lib/python3.6/site-packages/setuptools.pth
/venv/lib/python3.6/site-packages/asgiref-3.2.10.dist-info               
/venv/lib/python3.6/site-packages/gunicorn-20.0.4.dist-info               
/venv/lib/python3.6/site-packages/sqlparse
/venv/lib/python3.6/site-packages/django                                 
/venv/lib/python3.6/site-packages/pip                                     
/venv/lib/python3.6/site-packages/sqlparse-0.3.1.dist-info
/venv/lib/python3.6/site-packages/Django-2.1.15.dist-info                
/venv/lib/python3.6/site-packages/pip-20.2.4.dist-info                    
/venv/lib/python3.6/site-packages/sql_server
/venv/lib/python3.6/site-packages/django_adminlte3                       
/venv/lib/python3.6/site-packages/pyodbc-4.0.30.dist-info                 
/venv/lib/python3.6/site-packages/widget_tweaks
/venv/lib/python3.6/site-packages/django_adminlte3-0.1.6.dist-info       
/venv/lib/python3.6/site-packages/pyodbc.cpython-36m-x86_64-linux-gnu.so
/venv/lib/python3.6/site-packages/django_pyodbc_azure-2.1.0.0.dist-info  
/venv/lib/python3.6/site-packages/pytz
/venv/bin
/venv/include
/venv/lib64
dbbackup
