{% extends 'facture/masterpage.html'%}
{% load static%}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title"></h3>
        <button type="button" class="btn btn-success" data-toggle="modal" onclick="openForm()">
            <i class="fas  fa-plus-circle"></i>
        </button>
    </div>

    <!-- insert table -->
    <div id="table"></div>
</div>
<!-- insert form -->
<div id="form"></div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  function loadTable(){
     $("#table").load("/tipoterceros/tbltipoterceros", function(){
        $("#tblTipoTerceros").DataTable({
            "responsive": true,
            "autoWidth": true,
         });
      })
  }

  function openForm(){
      $("#form").load("/tipoterceros/frmtipoterceros/", function(){
          $('#modal-grupo').modal('show');
      })
  }

  function editar(id){
      $("#form").load("/tipoterceros/frmtipoterceros/"+id, function(){
          $('#modal-grupo').modal('show');
      })
  }

  function borrar(id) {
     Swal.fire({
        title: 'Estas seguro?',
        text: "No podrás reversar esta acción !",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, borrar!'
        }).then((result) => {
          if (result.value) {
            $.ajax({
                type: "GET",
                url: "/tipoterceros/eliminar/"+id,
                success: function(response){
                    if(response['state']){
                        toastr.success(response['msg'])
                        loadTable()
                        $("#closeModal").click()
                    }
                    else{
                        toastr.error(response['msg'])
                    }
                }
             })
          }
        })
  }

  toastr.options.timeOut = 500;

  $(function () {
     $("#form").load("/tipoterceros/frmtipoterceros/")
     loadTable()
  });

  $(document).on('submit','#frmTipoTercero',function(event){
     event.preventDefault();
     event.stopImmediatePropagation();
     var urlAction = ($("#frmTipoTercero").attr('action'))
     $.ajax({
        data: $(frmTipoTercero).serialize(),
        type: "POST",
        url: urlAction,
        success: function(response){
           if(response['state']){
              toastr.success('Registro Guardado')
              loadTable()
              $("#closeModal").click()
           }
           else{
              toastr.error('Por favor revise los datos')
           }
        }
     })
  });

</script>
{% endblock %}
