{% extends 'facture/masterpage.html'%}
{% load static%}

{% block content %}
<div class="card">
   <div class="card-header">
      <h3 class="card-title">Facturas de Venta</h3>
   </div>

   <!-- insert table -->
   <div class="card-body">
      <table id="tblfafcturasventa" class="table table-bordered table-striped">
         <thead>
            <tr>
               <th>Fecha</th>
               <th>Num</th>
               <th>Cliente</th>
               <th>Rel</th>
               <th>Total</th>
               <th>Desc</th>
               <th>Impto</th>
               <th>Neto</th>
               <th>Pago</th>
               <th>Detalle</th>
            </tr>
         </thead>
         <tbody>
            {% for factura in facturas %}
            {% if factura.neto == 0 %}
            <tr style="color:#FF0000" ;>
               {% else %}
            <tr>
               {% endif %}
               <td>{{ factura.fecha }}</td>
               <td>{{ factura.consecutivo }}</td>
               <td>{{ factura.tercero.nombre|upper }}</td>
               <td>{{ factura.relacion}}</td>
               <td>{{ factura.total }}</td>
               <td>{{ factura.descuento }}</td>
               <td>{{ factura.impuesto }}</td>
               <td>{{ factura.neto }}</td>
               <td>{{ factura.fpago.fpago}}</td>
               <td>
                  <div class="btn-group">
                     <button class="btn btn-info" onclick="verdetalle({{factura.id}})"><i
                           class="fas  fa-eye"></i></button>
                     {% if factura.neto == 0 %}
                     {% if perms.facturacion.change_documentos %}
                     <button type="button" class="btn btn-danger" onclick="anular({{factura.id}})"><i
                           class="fas  fa-times-circle"></i></button>
                     {% endif %}
                     {%else%}
                     {% if perms.facturacion.change_documentos %}
                     <button type="button" class="btn btn-danger" onclick="anular({{factura.id}})"><i
                           class="fas  fa-times-circle"></i></button>
                     {% endif %}
                     {% endif %}
                  </div>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>

      {% if facturas.has_other_pages %}
         <ul class="pagination pagination-sm m-0 float-right">
            {% if facturas.has_previous %}
               <li class="page-item" ><a class="page-link" href="?page={{ facturas.previous_page_number }}">&laquo;</a></li>
            {% else %}
               <li class="page-item disabled"> <a class="page-link"><span>&laquo;</span></li></a>
            {% endif %}
            {% for i in facturas.paginator.page_range %}
               {% if facturas.number == i %}
                  <li class="page-item" ><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></a> 
                     .     </span></li>
               {% elif i < 10 %}
               <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
               {% endif %}
            {% endfor %}
            {% if facturas.has_next %}
               <li class="page-item"><a class="page-link" href="?page={{ facturas.next_page_number }}">&raquo;</a></li>
            {% else %}
               <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
         </ul>
      {% endif %}
   </div>
</div>
<!-- insert form -->
<div id="factura"></div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

   toastr.options.timeOut = 1000;

   function loadTable() {

      $("#tblfafcturasventa").DataTable({
         "responsive": true,
         "autoWidth": true,
         "processing": true, 
         "paginate": false        
      });

      /*$("#table").load("/facturas/tblfacturasventas", function(){
         $("#tblfafcturasventa").DataTable({
            "responsive": true,
            "autoWidth": true,
            "processing":true,
          
         });
      })*/
   }

   function verdetalle(id) {
      $("#factura").load("/compras/factura/" + id, function () {
         $('#modalFactura').modal('show')
      });
   }

   function anular(id) {
      Swal.fire({
         title: 'Anular Factura, Estas seguro?',
         text: "No podrás reversar esta acción !",
         icon: 'warning',
         showCancelButton: true,
         confirmButtonColor: '#3085d6',
         cancelButtonColor: '#d33',
         confirmButtonText: 'Si, anular!'
      }).then((result) => {
         if (result.value) {
            $.ajax({
               type: "GET",
               url: "/facturas/anular/" + id,
               success: function (response) {
                  if (response['state']) {
                     loadTable()
                     toastr.success(response['msg'])
                  }
                  else {
                     toastr.error(response['msg'])
                  }
               }
            })
         }
      })
   }

   $(function () {
      loadTable()
   });

</script>
{% endblock %}