<div class="card-body">
    <table id="tblProductos" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Descripcion</th>
            <th>Existencia</th>
            <th>Detalle</th>
        </tr>
        </thead>
        <tbody>
        {% for product in inventario %}
            <td>{{ product.codigo }}</td>
            <td>{{ product.descripcion }}</td>
            <td>{{ product.existencia }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-info" onclick="loadfrmdetalle({{product.id}})"><i class="fas  fa-eye"></i></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>